<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfw.feign.mapper.BayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zfw.feign.entity.Bay">
        <id column="Id" property="id" />
        <result column="StationId" property="stationId" />
        <result column="IndexInStation" property="indexInStation" />
        <result column="ModuleId" property="moduleId" />
        <result column="Name" property="name" />
        <result column="Tag" property="tag" />
        <result column="Keywords" property="keywords" />
        <result column="Remark" property="remark" />
        <result column="Datas" property="datas" />
        <result column="Infos" property="infos" />
        <result column="TypeId" property="typeId" />
    </resultMap>

    <select id="selectBayById" parameterType="Integer" resultType="com.zfw.feign.entity.Bay">
      select * from t_bay where Id = #{id}
    </select>

</mapper>
